@model StudentManagement.ViewModels.StudentDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Student Details";
    var photoPath = "~/images/" + (Model.student.Photopath ?? "noimage.jpg");

}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.student.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Student ID : @Model.student.Id</h4>
                <h4>Email : @Model.student.Email</h4>
                <h4>Class : @Model.student.Class</h4>
                <h4>Gender : @Model.student.Gender</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="student" asp-action="index" class="btn btn-primary">Back</a>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-action="edit" asp-controller="student"
                       asp-route-id="@Model.student.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="student" asp-action="delete" asp-route-id="@Model.student.Id" class="btn btn-danger m-1">Delete</a>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}